<div class="menu-bar">
    <div class="form">
        <div class="form__name">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Fábio" [(ngModel)]="filterOptions.name" value="Ex. Fábio de Almeida">
            </mat-form-field>
        </div>

        <div class="form__status">
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="filterOptions.status">
                    <mat-option *ngFor="let status of filterList">
                        {{status.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form__date-picker">
            <mat-form-field>
                <mat-label>Data de Cadastro</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" [(ngModel)]="filterOptions.startDate" />
                    <input matEndDate placeholder="End date" [(ngModel)]="filterOptions.endDate" />
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="button">
            <button mat-flat-button (click)="onFilter()"><strong>Filtrar</strong></button>
        </div>
    </div>
</div>