<div class="menu-bar">
    <form class="form">
        <div class="form__name">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Fábio" value="Ex. Fábio de Almeida">
            </mat-form-field>
        </div>

        <div class="form__status">
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select>
                    <mat-option *ngFor="let user of users" [value]="user.value">
                        {{user.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>



        <div class="form__date-picker">
            <mat-form-field>
                <mat-label>Data de Cadastro</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="button">
            <button mat-flat-button>
                <strong>Filtrar</strong>
            </button>
        </div>
    </form>





</div>