<div class="p-4 max-w-screen-lg mx-auto">

  <mat-card class="p-card" appearance="outlined">

    <mat-card-content>
      <div class="p-card__switch-users">
        <app-switch-users (indexUserEmit)="setActualUser($event)" [isInEditMode]="isInEditMode"
          [userList]="userList"></app-switch-users>
      </div>
      <div class="p-card__tab-user">
        <div *ngIf="userSelected">

          <app-buttons-container [formDirty]="isFormDirty" [formValidity]="isFormValid" [isInEditMode]="isInEditMode"
            (onEditBtnEmitt)="setEditMode()" (onSaveBtnEmitt)="updateUser()"
            (onCancelBtnEmitt)="cancelEditMode()"></app-buttons-container>
          <app-user-info (formDirtyEmitt)="setFormDirty($event)" (formValidityEmitt)="setFormValidity($event)"
            [isInEditMode]="isInEditMode" [userSelected]="userSelected">
          </app-user-info>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>