<div class="p-4 max-w-screen-lg mx-auto">

  <mat-card class="p-card" appearance="outlined">

    <mat-card-content>
      <div class="p-card__switch-users">
        <app-switch-users (userEmit)="setActualUser($event)" [userList]="userList"></app-switch-users>
      </div>
      <div class="p-card__tab-user">
        <div *ngIf="userSelected">
          <app-user-info [userSelected]="userSelected">
          </app-user-info>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>