<app-card>
    <app-card-header>
        <img src="icons/icon-credit-card.png" alt="">
        <h1>Cartão de Crédito</h1>
    </app-card-header>
</app-card>
<!-- 
<div class="card">



    <div class="card__content">
        <app-card-brand cardNumber="1234567891011" brand="MASTER CARD"
            cardOwner="FELIPE DA SILVA FREITAS"></app-card-brand>

        <div class="card__info-credit">
            <app-card-item [item]="{text1: 'Limite de Compra', text2: 'R$ 1000,00'}"></app-card-item>
            <app-card-line></app-card-line>
            <app-card-item [item]="{text1: 'Limite de Saque', text2: 'R$ 2000,00'}"></app-card-item>
            <app-card-line></app-card-line>
            <app-card-item [item]="{text1: 'Disponível', text2: 'R$ 1300,00'}"></app-card-item>
            <app-card-item [item]="{text1: 'Limite Total Utilizado', text2: 'R$ 3000,00'}"></app-card-item>

        </div>
    </div>

</div> -->