<mat-card class="card" appearance="outlined">
    <mat-card-header class='u-center-items'>
        <mat-card-title><strong>Detalhes do Usuário</strong></mat-card-title>
    </mat-card-header>

    <br><mat-divider></mat-divider>

    <div class="content">
        <mat-card-content class="u-margin-2-bottom">
            <p><strong>Nome:</strong> {{ user.nome }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>


        <mat-card-content class="u-margin-2">
            <p><strong>Email:</strong> {{ user.email }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Telefone:</strong> {{ user.telefone | telefone }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Endereço:</strong> {{ user.endereco.rua }}, {{user.endereco.numero}}, {{user.endereco.cidade}},
                {{user.endereco.estado}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Ativo:</strong> {{ user.ativo }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>


        <mat-card-content class="u-margin-2">
            <p><strong>Função:</strong> {{ user.funcao }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Data de Cadastro:</strong> {{ user.dataCadastro | date}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

    </div>
</mat-card>