<mat-card class="card" appearance="outlined">
    <mat-card-header class='u-center-items'>
        <mat-card-title><strong>Detalhes do Usuário</strong></mat-card-title>
    </mat-card-header>

    <br><mat-divider></mat-divider>

    <div class="content">
        <mat-card-content class="u-margin-2-bottom">
            <p><strong>Nome:</strong> {{ '' }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>



        <mat-card-content class="u-margin-2">
            <p><strong>Email:</strong> {{ '' }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>


        <mat-card-content class="u-margin-2">
            <p><strong>Telefone:</strong> {{ '' }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Status:</strong> {{ '' }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Função:</strong> {{ '' }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Data de Cadastro:</strong> {{ '' }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

    </div>
</mat-card>