<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Detalhes do Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Nome:</strong> {{ '' }}</p>
        <mat-divider></mat-divider>

        <p><strong>Email:</strong> {{ '' }}</p>
        <mat-divider></mat-divider>

        <p><strong>Telefone:</strong> {{ '' }}</p>
        <mat-divider></mat-divider>

        <p><strong>Status:</strong> {{ '' }}</p>
        <mat-divider></mat-divider>

        <p><strong>Função:</strong> {{ '' }}</p>
        <mat-divider></mat-divider>

        <p><strong>Data de Cadastro:</strong> {{ '' }}</p>
        <mat-divider></mat-divider>


    </mat-card-content>
</mat-card>