<app-card>
    <app-card-header color="cyan">
        <img src="icons/icon-client.png" alt="">
        <h1>Informações do Cliente</h1>
    </app-card-header>
    <app-card-content>
        <app-card-item [item]="{text1: 'Nome', text2: 'Alysson Henrique'}"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item [item]="{text1: 'Idade', text2: '20'}"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item [item]="{text1: 'Renda Mensal', text2: 'R$ -1000,00'}"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item [item]="{text1: 'Nacionalidade', text2: 'Brasileiro'}"></app-card-item>
    </app-card-content>
</app-card>