<div class="chur">
    <div class="chur--block">

        <div class="chur--header">
            <h1>Churrascômetro</h1>
            <mat-divider></mat-divider>
    
        </div>
        
        <div class="chur--form" #formChurras>
            <mat-form-field>
                <mat-label>Adultos</mat-label>
                <input matInput type="number" [(ngModel)]="inputForm.adultos">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Criancas</mat-label>
                <input matInput type="number" [(ngModel)]="inputForm.criancas">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Duração</mat-label>
                <input matInput type="number" [(ngModel)]="inputForm.duracaoHrs">
            </mat-form-field>

            <div class="chur--info" *ngIf="churrasInfo">
                <p><span>{{churrasInfo.kgCarne}}</span>kg de Carne</p>
                <p><span>{{churrasInfo.qtdBebida}}</span>Pet's de 2l de Refrigerante'</p>
                <p><span>{{churrasInfo.qtdCerveja}}</span> Latas de Cerveja</p>
            </div>
        </div>

        <button mat-raised-button (click)="validar()">Calcular</button>

    </div>
</div>