<form [formGroup]="userInfoForm" action="">
    <div formArrayName="dependentList" class="p-4">
        <h1 class="text-2xl font-bold mb-3">Dependentes:</h1>

        <app-dummy-button class="p-4" (click)="createEmptyDependent()" textButton="Novo Dependente"
            colorButton="green"></app-dummy-button>
        <div *ngIf="dependentList.controls">
            <div [formGroupName]="i" *ngFor="let item of dependentList.controls; let i = index"
                class="p-4 grid my-4 sm:grid-cols-4 grid-cols-1 gap-4 ">
                <mat-form-field class="w-full">
                    <mat-label for="name">Nome</mat-label>
                    <input matInput formControlName="name" id="name">
                    <mat-error *ngIf="item.get('name')?.hasError('required')">O nome é obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label for="age">Idade</mat-label>
                    <input matInput formControlName="age" id="age">
                    <mat-error *ngIf="item.get('age')?.hasError('required')">A idade é obrigatória</mat-error>

                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label for="document">Documento</mat-label>
                    <input matInput mask="000.000.000-00" formControlName="document" id="document">
                    <mat-error *ngIf="item.get('document')?.hasError('required')">O CPF é obrigatório</mat-error>
                    <mat-error *ngIf="item.get('document')?.hasError('mask')">O CPF está inválido</mat-error>


                </mat-form-field>
                <div class="flex justify-center">
                    <app-dummy-button textButton="Remover" colorButton="red"
                        (click)="removeDependent(i)"></app-dummy-button>
                </div>
            </div>
        </div>



    </div>
</form>