<div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3 p-2">
    <div class="user-name">
        <h1 class="text-lg font-bold">Nome: </h1>
        <p>{{user.name}}</p>
    </div>

    <div class="user-email">
        <h1 class="text-lg font-bold">E-mail: </h1>
        <p>{{user.email}}</p>
    </div>

    <div class="user-country">
        <h1 class="text-lg font-bold">País: </h1>
        <p>{{user.country}}</p>
    </div>

    <div class="user-marital-status">
        <h1 class="text-lg font-bold">Estado Civil: </h1>
        <p>{{user.maritalStatus | maritalStatus}}</p>
    </div>
</div>