<div class="p-4">
    <div class="p-4 grid sm:grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3">
        <app-user-info-cell itemName="Nome" [item]="user.name"> </app-user-info-cell>
        <app-user-info-cell itemName="E-mail" [item]="user.email"> </app-user-info-cell>
    </div>

    <div class="p-4 grid sm:grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3">
        <app-user-info-cell itemName="País" [item]="user.country"> </app-user-info-cell>
        <app-user-info-cell itemName="Estado" [item]="user.state"> </app-user-info-cell>
    </div>

    <div class="p-4 grid sm:grid-cols-1  md:grid-cols-2 gap-4 lg:grid-cols-3">
        <app-user-info-cell itemName="Estado Civil" [item]="user.maritalStatus | maritalStatus"> </app-user-info-cell>
        <app-user-info-cell itemName="Renda Mensal" [item]="(user.monthlyIncome | currency:'BRL')">
        </app-user-info-cell>
        <app-user-info-cell itemName="Data de Nascimento" [item]="user.birthDate">
        </app-user-info-cell>
    </div>

</div>