<form action="" [formGroup]="userInfoForm">
    <div class="p-4">
        <h1 class="text-2xl font-bold mb-3">Geral:</h1>

        <div class="p-4 grid sm:grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3">


            <app-form-item [form]="userInfoForm" name="Nome" itemName="name"></app-form-item>
            <app-form-item [form]="userInfoForm" type="email" name="Email" itemName="email"></app-form-item>




        </div>

        <div class="p-4 grid sm:grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3">

            <mat-form-field class="w-full">
                <mat-label for="country">País</mat-label>
                <input matInput [matAutocomplete]="pais" formControlName="country" id="country">
                <mat-autocomplete requireSelection #pais="matAutocomplete">
                    <mat-option *ngFor="let country of countryList"
                        [value]="country.country">{{country.country}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label for="state">Estado</mat-label>
                <input matInput [matAutocomplete]="estado" formControlName="state" id="state">
                <mat-autocomplete requireSelection #estado="matAutocomplete">
                    <mat-option *ngFor="let state of stateList" [value]="state.name">{{state.name}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>



        </div>
        <div class="p-4 grid sm:grid-cols-1  md:grid-cols-2 gap-4 lg:grid-cols-3">

            <div>
                <mat-radio-group class="flex justify-between lg:grid lg:grid-cols-3" formControlName="maritalStatus">
                    <mat-radio-button class="w-full" value="1">Solteiro</mat-radio-button>
                    <mat-radio-button class="w-full" value="2">Casado</mat-radio-button>
                    <mat-radio-button class="w-full" value="3">Divorciado</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field class="w-full">
                <mat-label for="monthlyIncome">Renda Mensal</mat-label>
                <span *ngIf="monthlyIncome.value" matTextPrefix>R$</span>
                <input #monthlyIncome placeholder="R$5.000,000" mask="separator.2" thousandSeparator="."
                    decimalMarker="," matInput formControlName="monthlyIncome" id="monthlyIncome">
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput formControlName="birthDate" [matDatepicker]="picker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>



        </div>

    </div>
</form>