.debit-card {
    border-radius: 1vh;
    background-color: #ffffff;
    overflow: hidden;

}

.header {
    background-color: #e88032;
    gap: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem
}

.content {
    padding: 4vh
}