<mat-card class="card" appearance="outlined">
    <mat-card-header class='u-center-items'>
        <mat-card-title><strong>Detalhes do Usuário</strong></mat-card-title>
    </mat-card-header>

    <br><mat-divider></mat-divider>

    <div class="content">
        <mat-card-content class="u-margin-2-bottom">
            <p><strong>Nome:</strong> {{ user.nome | vazio }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>


        <mat-card-content class="u-margin-2">
            <p><strong>Email:</strong> {{ user.email | vazio}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Telefone:</strong> {{ user.telefone | telefone }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Endereço:</strong> {{ user.endereco | endereco}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Status:</strong> {{ user.ativo | status }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>


        <mat-card-content class="u-margin-2">
            <p><strong>Função:</strong> {{ user.funcao | vazio }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content class="u-margin-2">
            <p><strong>Data de Cadastro:</strong> {{ user.dataCadastro | date: 'dd/MM/YYYY' | vazio}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>

    </div>
</mat-card>