
.form
    height: 100%
    padding: 20px

    &__item
        padding: 5px

    &__item-100
        width: 100%

    &__item-50
        width: 50%

    &__row
        width: 100%
        display: flex
        gap: 20px
.form--divider
    margin: 3% 0%

:host ::ng-deep .weak-password .mdc-linear-progress__bar-inner
    border-color: red !important
:host ::ng-deep .medium-password .mdc-linear-progress__bar-inner
    border-color: yellow !important
:host ::ng-deep .strong-password .mdc-linear-progress__bar-inner
    border-color: green !important
