<table mat-table [dataSource]="usuarios" class="mat-elevation-z8">


    <ng-container matColumnDef="nome"> <!-- tem que modificar isso tbm para funcionar -->
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dataCadastro">
        <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
        <td mat-cell *matCellDef="let element"> {{element.dataCadastro}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.ativo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>