<mat-tab-group [(selectedIndex)]="currentTabIndex">
    <mat-tab label="Geral">
        <app-general-user-info *ngIf="!isInEditMode" [user]="user"></app-general-user-info>
        <app-general-user-info-edit *ngIf="isInEditMode" [user]="user"></app-general-user-info-edit>
    </mat-tab>
    <mat-tab label="Contato">
        <app-contact-user-info *ngIf="!isInEditMode" [user]="user"></app-contact-user-info>
        <app-contact-user-info-edit *ngIf="isInEditMode" [user]="user"></app-contact-user-info-edit>

    </mat-tab>
    <mat-tab label=" Dependente">
        <app-dependent-user-info *ngIf="!isInEditMode" [dependentList]="user.dependentsList"></app-dependent-user-info>
        <app-dependent-user-info-edit *ngIf="isInEditMode"></app-dependent-user-info-edit>

    </mat-tab>
</mat-tab-group>