<div class="grid lg:gap-y-4">
    <div class="grid gap-y-4 lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-2" *ngFor="let address of displayedAddressList">
        <app-user-info-cell [item]="address.type | addressType" itemName="Tipo"></app-user-info-cell>
        <app-user-info-cell [item]="address.street" itemName="Rua"></app-user-info-cell>
        <app-user-info-cell [item]="address.complement " itemName="Complemento"></app-user-info-cell>
        <app-user-info-cell [item]="address.country" itemName="País"></app-user-info-cell>
        <app-user-info-cell [item]="address.state" itemName="Estado"></app-user-info-cell>
        <app-user-info-cell [item]="address.city" itemName="Cidade"></app-user-info-cell>
        <hr class="block lg:hidden my-4 bg-white border-0">
    </div>
</div>