<app-dummy-button class="p-4" textButton="Novo Dependente" colorButton="green"></app-dummy-button>
<div class="p-4 grid my-4 sm:grid-cols-4 grid-cols-1 gap-4 ">
    <mat-form-field class="w-full">
        <mat-label for="tipo">Nome</mat-label>
        <input matInput formControlName="" id="tipo">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label for="rua">Idade</mat-label>
        <input matInput formControlName="" id="rua">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label for="complemento">Documento</mat-label>
        <input matInput formControlName="" id="complemento">
    </mat-form-field>
    <div class="flex justify-center"> <app-dummy-button textButton="Remover" colorButton="red"></app-dummy-button>
    </div>
</div>