<form [formGroup]="contactInfoForm">
    <div formArrayName="phoneList" class="p-4 grid grid-cols-1 gap-4 lg:grid-cols-3">
        <mat-form-field class="w-full" *ngFor="let phone of phoneList.controls; let i = index" [formGroupName]='i'>
            <mat-label>{{phoneList.value[i].typeDescription}}</mat-label>
            <input formControlName="phone" matInput [mask]="phoneList.value[i].type | maskPhone">
            <mat-error *ngIf="phone.get('phone')?.hasError('required')">O telefone é obrigatório</mat-error>
            <mat-error *ngIf="phone.get('phone')?.hasError('mask')">O telefone é inválido</mat-error>


        </mat-form-field>

    </div>
</form>