<div class="p-4 grid grid-cols-1 gap-4 lg:grid-cols-3">
    <mat-form-field class="w-full">
        <mat-label for="residencial">Residencial</mat-label>
        <input matInput formControlName="" id="residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label for="celular">Celular</mat-label>
        <input matInput formControlName="" id="celular">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label for="emergência">Emergência</mat-label>
        <input matInput formControlName="" id="emergência">
    </mat-form-field>
</div>