<div class="card">
    <app-card-header
        [header]="{iconType: icon, mainTitle: 'Saldo Disponíveis', value: 'R$ 1000,00', bgColor: 'orange'}"></app-card-header>
    <div class="card__content">
        <div class="card__content-items">
            <app-item [item]="{text1: 'Conta Corrente', text2: 'R$ 200,00'}"></app-item>
            <app-card-line></app-card-line>
            <app-item [item]="{text1: 'Conta Corrente Saldo Vinculados', text2: 'R$ 200,00'}"></app-item>
            <app-card-line></app-card-line>
            <app-item [item]="{text1: 'Conta Poupança Saldo Vinculados', text2: 'R$ 400,00'}"></app-item>
            <app-card-line></app-card-line>
            <app-item [item]="{text1: 'Investimentos com Baixa Automática', text2: 'R$ 500,00'}"></app-item>
            <app-card-line></app-card-line>
            <app-item [item]="{text1: 'Investimentos sem Baixa Automática', text2: 'R$ 500,00'}"></app-item>
            <app-card-line></app-card-line>

        </div>

        <div class="card__footer">
            <div class="card__content-total">
                <app-item [item]="{text1: 'SALDO TOTAL', text2: 'R$ 1000,00'}"></app-item>
                <app-item [item]="{text1: 'LIVRE PRA MOVIMENTAÇÃO', text2: 'R$ 1000,00'}"></app-item>
            </div>
        </div>

    </div>

</div>