<div class="card">
    <div class="card__header">
        <div class="card__header-title">
            <img src="icons/icon-hand.png" alt="">
            <h1>Saldos Disponíveis</h1>
        </div>
        <p>R$ 100,00</p>
    </div>
    <div class="card__content">
        <div class="card__content-items">
            <app-item [item]="{text1: 'Conta Corrente', text2: 'R$ 200,00'}"></app-item>

            <div class="card__content-item">
                <p>Conta Corrente</p>
                <p>R$ 200,00</p>
            </div>
            <div class="card__content-line"></div>
            <div class="card__content-item">
                <p>Conta Corrente Saldo Vinculados</p>
                <p>R$ 200,00</p>
            </div>
            <div class="card__content-line"></div>
            <div class="card__content-item">
                <p>Conta Poupança Saldo Vinculados</p>
                <p>R$ 400,00</p>
            </div>
            <div class="card__content-line"></div>
            <div class="card__content-item">
                <p>Investimentos com Baixa Automática</p>
                <p>R$ 500,00</p>
            </div>
            <div class="card__content-line"></div>
            <div class="card__content-item">
                <p>Investimentos sem Baixa Automática</p>
                <p>R$ 500,00</p>
            </div>
            <div class="card__content-line"></div>

        </div>

        <div class="card__footer">
            <div class="card__content-total">
                <div class="card__content-item">
                    <p>SALDO TOTAL</p>
                    <p>R$ 1000,00</p>
                </div>
                <div class="card__content-item">
                    <p>LIVRE PARA MOVIMENTAÇÃO</p>
                    <p>R$ 1000,00</p>
                </div>


            </div>
        </div>

    </div>

</div>