<div class="card">
    <div class="card__header">
        <img src="icons/icon-credit-card.png" alt="">
        <h1>Cartão de Crédito</h1>
    </div>

    <div class="card__content">
        <div class="card__info-brand">
            <div class="card__info-brand-user-info">
                <p>1234567891011</p>
                <p>FELIPE DA SILVA FREITAS</p>
            </div>
            <p>MASTER CARD</p>
        </div>
        <div class="card__info-credit">
            <div class="card__info-credit-item">
                <p>Limite de Compra</p>
                <p>R$ 1000,00</p>
            </div>
            <div class="card__content-line"></div>
            <div class="card__info-credit-item">
                <p>Disponível</p>
                <p>R$ 1200,00</p>
            </div>
            <div class="card__info-credit-item">
                <p>Limite de Saque</p>
                <p>R$ 2000,00</p>
            </div>
            <div class="card__content-line"></div>
            <div class="card__info-credit-item">
                <p>Disponível</p>
                <p>R$ 1300,00</p>
            </div>
            <div class="card__info-credit-item">
                <p>Limite Total Utilizado</p>
                <p>R$ 3000,00</p>
            </div>
        </div>
    </div>

</div>