
.container
    padding: 2vh 5vh
.content
    height: 100%
    width: 100%
    display: flex
    flex-direction: row

.right-side
    background-color: white
    color: black
    padding: 5%

.left-side
    width: 32%
    display: flex
    flex-wrap: wrap
    align-items: center
    flex-direction: column
    gap: 2vh
    background-color: #F8C01B
.stats
    text-align: center
    padding: 5%
    &-item
        &-name
            font-size: 1.1em
        &-value
            font-size: 1.2em
.hero-name
    font-size: 2.5em
.text-content
    font-size: 1.5em
    margin-top: 2%

img
    max-width: 300px
    border: 4px #620bb933 dashed
