<div class="container">
    <div class="content">
        <div class="left-side bg-yellow">
            <img src="{{hero.images.lg}}" alt="" srcset="">
            <h1 class="hero-name text-blue bangers-regular">{{hero.name}}</h1>

            <h4 class="comic-neue-bold text-red">STATS</h4>
            <ul>
                <li *ngFor="let item of (hero.powerstats | keyvalue)">{{item.key}} - {{item.value}}
            </ul>
        </div>
        <div class="right-side">
            a
        </div>
    </div>
</div>