
.container
    height: 100%
    padding: 0vh 5vh
.content
    height: 100%
    width: 100%
    display: flex
    flex-direction: row
.right-side
    width: 100%
    height: 100%
    background-color: white
    color: black
    padding: 5%
.left-side
    height: 100%
    width: 32%
    display: flex
    flex-wrap: wrap
    align-items: center
    flex-direction: column
    gap: 2vh
    background-color: #F8C01B
.stats
    text-align: center
    &-item
        &-name
            font-size: 1.1em
        &-value
            font-size: 1.2em
.hero-name
    font-size: 2.5em
    margin-bottom: 0
.text-content
    font-size: 1.5em
    margin-top: 2%

img
    width: 100%
    border: 4px #620bb933 dashed
