<div class="content">
  <mat-form-field class="example-form-field">
    <mat-label>Filtrar por nome</mat-label>
    <input matInput type="text" [(ngModel)]="name">
    @if (name) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  <div class="table">
    <table mat-table [dataSource]="userListAlt | filter : name : 'customerName'" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
      </ng-container>
      <ng-container matColumnDef="customerStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.customerStatus | status}} <img
            [src]="element.customerStatus | imgStatus" alt=""> </td>
      </ng-container>

      <ng-container matColumnDef="operationDate">
        <th mat-header-cell *matHeaderCellDef>Operation Date</th>
        <td mat-cell *matCellDef="let element"> {{element.operationDate | date : 'dd/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="operationHour">
        <th mat-header-cell *matHeaderCellDef>Operation Hour</th>
        <td mat-cell *matCellDef="let element"> {{element.operationDate | date : 'HH:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="operationValue">
        <th mat-header-cell *matHeaderCellDef>Operation Value</th>
        <td mat-cell *matCellDef="let element"> {{element.operationValue | currency: 'BRL'}} </td>
      </ng-container>

      <ng-container matColumnDef="operationRisck">
        <th mat-header-cell *matHeaderCellDef>Operation Risk </th>
        <<<<<<< HEAD <td mat-cell *matCellDef="let element"> {{element.operationRisck | percent: '1.0-2'}} </td>
          =======
          <td mat-cell *matCellDef="let element"> {{element.operationRisck | percent}} </td>
          >>>>>>> 69e163f7bf1fff88e9f33d799ad53227a5b737bc
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>