<div class="card">
    <div class="card__header">
        <img src="icons/icon-client.png" alt="">
        <h1>Informações do Cliente</h1>
    </div>
    <div class="card__content">
        <div class="card__content-item">
            <p>Nome</p>
            <p>Alysson Henrique</p>
        </div>
        <div class="card__content-line"></div>

        <div class="card__content-item">
            <p>Idade</p>
            <p>20</p>
        </div>
        <div class="card__content-line"></div>

        <div class="card__content-item">
            <p>Renda Mensal</p>
            <p>R$ -1000,00</p>
        </div>
        <div class="card__content-line"></div>
        <div class="card__content-item">
            <p>Nacionalidade</p>
            <p>Brasileiro</p>
        </div>
    </div>
</div>